{% extends 'base.html.twig' %}

{% block title %}
Yo {{ prenom }}
{% endblock %}

{% block body %}
  <h1>Bonjour {{ prenom }}.</h1>
  <p>Mon formateur s'appelle {{ formateur.prenom }} {{ formateur.nom | upper }} et il a {{ formateur.age }} ans.</p>
{% endblock %}